body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-flow: row wrap;
}

.left-part {
    flex: 1;
    background-image: url(./images/visax-ASlbAeQ7xsI-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.right-part {
    flex: 1.6;
}